page {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	font-weight: 400;
	font-size: 24rpx;
	color: #000000;
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
		Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei',
		sans-serif;
}

view,
text,
image,
button,
input,
textarea {
	margin: 0;
	padding: 0;
}

image {
	width: 100%;
	height: 100%;
}

text {
	color: #000000;
	font-size: 24rpx;
}

input {
	color: #000000;
}

textarea {
	color: #000000;
	width: 100%;
}

view {
	box-sizing: border-box;
}
